/*GLOBAL !  Styles ---------------------------------------------------------------
-----------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/*
VARIABLES
*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #232323; }

p {
  margin-bottom: 0 !important; }

.container {
  padding-left: 30px;
  padding-right: 30px; }

.blackBg {
  background-color: black; }
